#root {
  /* max-width: 1280px; */
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  /* overflow-x: scroll  */
}


@font-face {
  font-family: yakarta;
  src: url(../public/PlusJakartaSans-Italic-VariableFont_wght.ttf)
}
.yakarta{
  font-family: yakarta;
}
