#root {
  max-width: 100vw;
  box-sizing: border-box;
  text-align: center;
  /* overflow-x: scroll */   
}


@font-face {
  font-family: yakarta;
  src: url(../public/PlusJakartaSans-Italic-VariableFont_wght.ttf)
}
.yakarta{
  font-family: yakarta;
}
